<!DOCTYPE html>

<html>
<head>
<style>
.container {
    width: 100%;
}
 
nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

 

 
article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
</head>
<body>
 
<div class="container">
 

 
<nav>
  <img src="{{url_for('static',filename="programmer-and-process-coding_23-2147505688.jpg")}}"/>
</nav>
 
<article>
  <h1>My Profile</h1>
  <p>Today's date is Fri,27 Jan 2017</p>
  <hr>
  <p>Username: John Brown</p>
 
  <p>ID Number: 620065782</p>
 
  <p>Age: 43</p>
 
  <p>Gender: 54</p>
  <hr>
 
  <p> I like to make Android apps.</p>
</article>
 
 
</div>
 
</body>
</html>